<h1 class='text-center'>Welcome</h1>
<% if logged_in? %>
    <div class="text-center Welcome">
    <p>Type in the technology you are interested in</p>
        <div>
            <%= form_tag "trending", method: "GET" do %>
                <%= text_field_tag :language, params[:language] %>
                <input type="submit" class="button" value="Search">
            <% end %>
        </div>
        <%= @output %>
    </div>
<% else %>
    <div class="text-center Welcome">
        <p>Please Login or Sign up.<p>
        <%= link_to "Login", login_path, class: "btn btn-primary" %>
        <%= link_to "Sign up", signup_path, class: "btn btn-primary" %>
    </div>
<% end %>

